.timestamp {
    color: black;
}

p {
    text-align: left;
    text-indent: 1em;
}

dd > p {
    margin-top: 0px;
    padding-left: 1em;    
}

li > p {
    margin-top: 0px;
    padding-left: 0em;
    text-indent: 0px;
}

body {
    font-size: 14pt;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
